<div class="hair_container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Short hair</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="mat-card-image" src="../../../assets/short hair.png" alt="Short hair">
    <mat-card-content>
      <p>Hair reach jawline</p>
    </mat-card-content>
    <input type="radio" id="short_hair" name="hair" value="short" (change)="onRadioButtonChange($event)" />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Medium hair</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="mat-card-image" src="../../../assets/medium hair.png" alt="Short hair">
    <mat-card-content>
      <p>Hair reach half shoulder</p>
    </mat-card-content>
    <input type="radio" id="medium_hair" name="hair" value="medium" (change)="onRadioButtonChange($event)" />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Long hair</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="mat-card-image" src="../../../assets/long hair.png" alt="Short hair">
    <mat-card-content>
      <p>Hair reach under half shoulder</p>
    </mat-card-content>
    <input type="radio" id="long_hair" name="hair" value="long" (change)="onRadioButtonChange($event)" />
  </mat-card>
</div>
