body{
    margin: 0;
    padding: 0;
}
@keyframes progress {
    from {
        width: 50px; 
    }
    to {
        width: 1000px; 
    }
}
.progressBar{
    padding-top: 20px;
    height: 50px;
    width: 300px;
    margin: 0px auto;
    margin-top: 200px;
    background-color: white;
    border-radius: 50px;
    animation: progress 5s ease-in-out;
}
.progressBar_text{
    font-size: 50px;
    font-weight: bold;
}
.cannabis_leaf{
    width: 250px;
    height: 200px;
    margin-left: 190px;
}
.cannabis_leaf2,.cannabis_leaf3{
    width: 250px;
    height: 200px;
    margin-top: 80px;
    margin-left: 50px;
}