<div class="boobs_container">
  <mat-card class="example-card">
    <img mat-card-image class="mat-card-image" src="../../../assets/small size.jpg" alt="Small boobs">
    <input type="radio" id="small_boobs" name="boobs" value="7" (change)="onRadioButtonChange($event)" />
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image class="mat-card-image" src="../../../assets/medium size.jpg" alt="Medium Boobs">
    <input type="radio" id="medium_boobs" name="boobs" value="9" (change)="onRadioButtonChange($event)" />
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image class="mat-card-image" src="../../../assets/large size.jpg" alt="Large boobs">
    <input type="radio" id="large_boobs" name="boobs" value="10" (change)="onRadioButtonChange($event)" />
  </mat-card>
</div>
