<mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple [(ngModel)]="eyeColor">
      <mat-option value="4" (click)="selectEyes()">Brown</mat-option>
      <mat-option value="8" (click)="selectEyes()">Green</mat-option>
      <mat-option value="9" (click)="selectEyes()">Light blue</mat-option>
      <mat-option value="10" (click)="selectEyes()">Hazel(brown and green)</mat-option>
      <mat-option value="8" (click)="selectEyes()">Gray</mat-option>
    </mat-select>
</mat-form-field>