<mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple [(ngModel)]="eyeColor">
      <mat-option value="brown" (click)="selectEyes()">Brown</mat-option>
      <mat-option value="green" (click)="selectEyes()">Green</mat-option>
      <mat-option value="light blue" (click)="selectEyes()">Light blue</mat-option>
      <mat-option value="hazel" (click)="selectEyes()">Hazel(brown and green)</mat-option>
      <mat-option value="gray" (click)="selectEyes()">Gray</mat-option>
    </mat-select>
</mat-form-field>