<app-toolbar></app-toolbar>
<div class="container">
    <h1 id="title">How many joints is your BF worth?</h1>
        <label for="age">Insert age:</label>
        <br>
        <app-boy-age (ageEmitter)="onAgeReceived($event)"></app-boy-age>
    <hr>
        <label for="height">Insert height(cm):</label>
        <br>
        <app-boy-height (heightEmitter)="onHeightReceived($event)"></app-boy-height>
    <hr>
        <label for="hair">Select hair:</label>
        <br>
        <app-hair (hairEmitter)="onHairReceived($event)"></app-hair>
    <hr>
        <label for="body">Select body:</label>
        <br>
        <app-body (bodyEmitter)="onBodyReceived($event)"></app-body>
    <hr>
        <label for="boobs">Select nose size:</label>
        <br>
        <app-boy-nose></app-boy-nose>
    <hr>
        <label for="eyes">Select eye color:</label>
        <br>
        <app-eyes (eyesEmitter)="onEyesReceived($event)"></app-eyes>
    <br>
    <hr>
    <button mat-raised-button id="calculateBtn" (click)="calculate()" routerLink="calculating">Calculate</button>
</div>