<div class="container">
        <label for="age">Insert age:</label>
        <br>
        <app-age (ageEmitter)="onAgeReceived($event)"></app-age>
    <hr>
        <label for="height">Insert height(cm):</label>
        <br>
        <app-height (heightEmitter)="onHeightReceived($event)"></app-height>
    <hr>
        <label for="hair">Select hair:</label>
        <br>
        <app-hair (hairEmitter)="onHairReceived($event)"></app-hair>
    <hr>
        <label for="body">Select body:</label>
        <br>
        <app-body (bodyEmitter)="onBodyReceived($event)"></app-body>
    <hr>
        <label for="boobs">Select boob size:</label>
        <br>
        <app-boobs (boobsEmitter)="onBoobsReceived($event)"></app-boobs>
    <hr>
        <label for="eyes">Select eye color:</label>
        <br>
        <app-eyes (eyesEmitter)="onEyesReceived($event)"></app-eyes>
    <br>
    <hr>
    <button mat-raised-button id="calculateBtn" (click)="calculate()"  routerLink="calculating">Calculate</button>
</div>

  